<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bibliotroca{% endblock %}</title>
</head>
<body>

   
    <header>
        <h1>Bibliotroca</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/logar">Login</a>
            <a href="/livros">Livros</a>
        </nav>
    </header>

 
    <main>
        {% block content %}{% endblock %}
    </main>

  
    <footer>
        <p>&copy; 2025 Bibliotroca. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
